@import './variables.scss';
$flexWrapValues:wrap,nowrap,wrap-reverse;
$flexDirectionValues:row,row-reverse,column,column-reverse;
#{$prefix}-flex{
    display: flex;
    @each $var in $flexWrapValues {
        &--#{$var}{
            flex-wrap:$var;
        }
    }
    @each $var in $flexDirectionValues {
        &--#{$var}{
            flex-direction: $var;
        }
    }
}